@use "../../../scss/_base.scss" as b;

#about {
	@include b.contentWrapper(900px);
	margin-top: 3rem;
	
	header {
		text-align: center;
		margin-bottom: 2rem;
		
		h2 {
			margin: 0 auto 1.5rem;
		}
		
		p {
			max-width: 500px;
			margin: 0 auto;
		}
	}
	
	.desc{
		p{
			margin-bottom: 2rem;
			
			a{
				font-size: 1.35rem;
			}
		}
	}
	
	.skills {
		
		h3 {
			margin: 1.5rem auto;
		}
		
		.skillCards {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: row wrap;
			gap: 2rem;
		}
	}
}

@include b.tablet {
	#about {
		display: grid;
		gap: 3rem;
		grid-template:
				"header header header header"
					"desc desc skills skills"
					"desc desc skills skills";
		
		header {
			grid-area: header;
			margin-bottom: 0;
		}
		
		.desc {
			grid-area: desc;
		}
		
		.skills {
			text-align: center;
			grid-area: skills;
			padding-left: 1.5rem;
			border-left: 1px b.$secondary-color solid;
			
			h3 {
				margin: 0 auto 1.5rem;
			}
		}
		
	}
}