@use "../../../scss/_base.scss" as b;

#contact{
	@include b.contentWrapper(800px);
	
	header{
		text-align: center;
		margin-bottom: 2rem;
		
		p {
			max-width: 500px;
			margin: 0 auto;
		}
	}
	
	div{
		display: flex;
		justify-content: space-around;
	}
}